* {
    box-sizing: border-box;
    outline: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"]  {
    padding: 15px;
    float: left;
}
.rwo::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color:antiquewhite;
    margin: 0;
    width:auto ;
    line-height: 1.7;
    font-family:"Cairo" , sans-serif;
}
a {
    text-decoration: none;
}
.clear {clear: both;}
.header {
     background-color:antiquewhite ;
     color: #FC820D;
     margin: 0;
     width: 100% ;
     height: 110px;
     border-bottom: 2px solid #111111 ;
     z-index: 1;
}
.header h2 {
  text-align: center;
  padding-top: 20px;
  margin: 0;
}
.header .logo { float: left ; background-color:#7d8087 ; margin: 0;}
.header  img { height: 100px ; float: left;    }
.navbar1 {float: right; background-color: antiquewhite ; margin: 0; padding-right: 100px; padding:0; height: 50px; padding-right: 10px; direction: rtl;}
.navbar1 ul li {display: inline-block; margin-left: 10px;font-weight: bold; font-size: 20px; transition: all .1s ease-in-out;}
.navbar1 ul li a {color:#FC820D; text-decoration: none ; transition: all .1s ease-in-out; }
.navbar1 ul li .active {text-decoration: underline;}
.navbar1 ul li a:hover {text-decoration: underline; color:#FC820D;}
.navbar2 {z-index: 1;;color:#FC820D ; background-color:#66634b ;  height: 50px; text-align: center; line-height: 50px; width: 100%; position: sticky;-webkit-position:sticky; top:0;    }
.navbar2 ul  {margin: 0; }
.navbar2 ul li { display: inline-block; margin-left:10px; margin-top: 0;font-weight: bold; }
.navbar2 ul li a {color:#FC820D ; text-decoration: none;}
.navbar2 ul li a:hover {text-decoration: underline ;color:#FC820D; }
.left-button {float: left; padding: 20px;  margin-top: 70px; height: 60px;}
.left-button button {width:40px ; height: 40px ; border-radius:4px ;cursor: pointer; }
.right-input {float: right; padding: 10px; margin-top: 75px; height: 60px;}
.right-input a:hover {background: #FC820D;}
.right-input button {float: left ; border:none ; color : #000 ; background:#FC820D ; padding: 10px;  margin: 3px; border-radius:3px ; cursor: pointer; height: 40px;}
.right-input input { width : 200px ; height: 40px ; float: right; margin: 2px; border-radius:3px ;  }
/* images*/
.images {display: flex; flex-direction: column;}
.images ul {  text-align: center;  margin: 0; padding: 0; }
.images ul li {
     display: inline-block; height:100%; width: 32%; padding-top: 20px; transition: all .6s ease-in-out;  z-index: 10000000;}
.images ul li img {width : 200px ; height: 60% ; margin: 0; padding: 0;}
.images ul a {
    color:#333333 ;
    background: #333333;
    width: 100% ;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 100px  ;
    line-height:30px;
    transition: all .3s ease-in-out;
}
.images ul a h3 button {
    background-color:antiquewhite ;
    color: #333333;
    border: none;
    transition: all .8s ease-in-out;
    width:0;
    margin: 0%;
}
.images ul  a:hover button {
    background-color:#FC820D;
    width:100%;  
    color: #333333 ;
    font-size: 20px; text-align: center;
    cursor: pointer;
}


.images ul a:hover li {border: 1px solid  ; transform: translate(5px,5px) ; }
.images ul li div {margin-top:5% ; padding: 0 ; color : #333333; direction: ltr;}
.images ul div span {color: #FC820D; }

/*pagination*/
.pagination {
    text-align: center;
    display: inline-block;
    margin-left: 240px;
}
.pagination a {
    padding: 15px ; 
    color:#FC820D ;
    text-decoration: none;
    transition: background-color .3s;

}
.pagination a.active {
    background-color:#FC820D;
    color: #fff;
}
.pagination a:hover {
    background-color:#FC820D;
    color: #fff;
     }
/*Contact us */
.the-end .contact {padding-left:200px; float: left;  }
.the-end .contact h2 {color: #FC820D; direction: rtl; font-size: 30px; margin-bottom: 0; } 
.the-end .contact .pre {direction: ltr; color: #111; font-weight: bold;}
.the-end .contact p { color: #FC820D; width: 100%; font-weight: bold; margin-top: 0;}
.the-end .contact pre {color : #111 ; text-align: right; direction: rtl; font-size: 15px; line-height:1.7; }
.the-end .footer {float: right;}
.the-end .footer img {width:150px ; height: 150px ; float: left; padding-top:10px; padding: 0 ; margin: 10px; }
.the-end .footer ul {}
.the-end .footer ul li {background-color: #FC820D; margin: 5px; display: inline-block; cursor: pointer; }
/*_________________________________Page2__________________________________*/
.video{overflow: hidden;}
.video iframe { height:300px;  margin: 10px; margin-bottom: 0; border-top:20px solid #000 ; border-bottom: 20px solid #000; }
.video p { color: #111; margin: 10px; margin-top: 0;padding: 5px; }
.video a {cursor: pointer; color: #111; text-decoration: none;}
.video a:hover {background-color: #FC820D;}
/*_________________________________Page3__________________________________*/
.contact2 {float:right; color: #111111;  direction: rtl;  text-align: right; }
.contact2 h2 {color:#FC820D; }
.input { direction: rtl; color: #FC820D; }
.input  .input1 {width: 48.5%; }
.input  input {width:99%; height: 40px;margin: .6%; border-radius:5px;}
.input textarea {width: 99% ; height: 200px; margin: .6%; border-radius: 5px;} 
.input button {width: 200px; ; height: 50px ; line-height: 50px; text-align: center ; background: #FC820D; color: #333333; margin: .6%;
font-size: 20px; border-radius:5px; border: none; cursor: pointer; }
/*___________________________ __________________*/

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  
  .rwo .col-4 {
    width: 100%;
  }
}